@import "./fonts.css";
@import "./reset.css";
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.warn {
  color: #FFC771;
}

.hero {
  padding: 31px 0 31px;
  position: relative;
  height: 650px;
  background: url(../images/bg-1.jpg) no-repeat right;
}
.hero::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background: linear-gradient(90deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 86.67%);
}
.hero__content {
  position: relative;
  z-index: 1;
  display: flex;
}
.hero__title {
  position: relative;
  padding-top: 73px;
  width: 650px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #593F0D;
}
.hero__title::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #FFCF6E;
  bottom: -29px;
}
.hero__desc {
  width: 390px;
  margin-top: 55px;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #593F0D;
}
.hero__btn {
  cursor: pointer;
  width: 320px;
  height: 78px;
  border-radius: 10px;
  position: relative;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #835D13;
  background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
  box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);
}
.hero__btn::before {
  z-index: -1;
  position: absolute;
  content: "";
  border-radius: 10px;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(131, 93, 19, 0.36), rgba(131, 93, 19, 0.36)), linear-gradient(263.81deg, #FBD293 10.32%, #FFD172 98.17%);
}
.hero__btn img {
  position: absolute;
  top: -34px;
  right: -80px;
}
.hero.hero-dark {
  position: relative;
  background: url(../images/bg-2.jpg) no-repeat right;
}
.hero.hero-dark::before {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, #000000 5.12%, rgba(82, 82, 82, 0.35) 86.67%);
}
.hero.hero-dark .hero__title, .hero.hero-dark .header__maindesc, .hero.hero-dark .header__desc, .hero.hero-dark .header__number, .hero.hero-dark .header__time, .hero.hero-dark .hero__desc {
  color: #FFFFFF;
}
.hero.hero-dark .hero__card {
  bottom: 13px;
  align-items: center;
  width: 320px;
  margin-left: 58px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
  border-radius: 20px;
  padding-bottom: 23px;
}
.hero.hero-dark .hero__card .card__img {
  display: none;
}
.hero.hero-dark .dark-img {
  display: block;
}
.hero.hero-dark .card__desc {
  color: #FBD293;
  text-align: center;
  padding: 36px 20px 0;
}
.hero__card {
  display: flex;
  width: 540px;
  position: absolute;
  bottom: -100px;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFC858 100%, #FFC858 100%);
  box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);
  border-radius: 10px;
}
.hero__card .card__desc {
  padding: 15px 20px 13px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #835D13;
}
.hero .dark-img {
  display: none;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__maindesc {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #593F0D;
  width: 209px;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #593F0D;
  width: 136px;
  margin-right: 14px;
}
.header__social:not(:last-child) {
  margin-right: 9px;
}
.header__info {
  display: flex;
  align-items: center;
}
.header__phone {
  margin-right: 20px;
}
.header__number {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: right;
  color: #593F0D;
}
.header__time {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #593F0D;
  text-align: right;
}
.header__btn {
  position: relative;
  cursor: pointer;
  padding: 10px 13px;
  background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
  box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #835D13;
}
.header__btn::before {
  z-index: -1;
  position: absolute;
  content: "";
  border-radius: 10px;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(131, 93, 19, 0.36), rgba(131, 93, 19, 0.36)), linear-gradient(263.81deg, #FBD293 10.32%, #FFD172 98.17%);
}
.header__theme {
  position: relative;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px;
  margin-left: 10px;
  background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
}
.header__theme::before {
  z-index: -1;
  position: absolute;
  content: "";
  border-radius: 10px;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(131, 93, 19, 0.36), rgba(131, 93, 19, 0.36)), linear-gradient(263.81deg, #FBD293 10.32%, #FFD172 98.17%);
}
.header__theme img {
  width: 20px;
  height: 20px;
}

.dot__succes {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #22C74E;
  left: 7px;
  bottom: 3px;
}/*# sourceMappingURL=Styles.css.map */